<html>

<head>

{{> header}}

</head>

<body>

<h1> Register !!! </h1>

<div class="container">

{{> menu}}


<form action="/api/v1/register" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">UserName</label>
    <input type="text" name="username" class="form-control" placeholder="Enter User Name" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" name="password" class="form-control"  placeholder="Password" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email ID</label>
    <input type="email" name="email" class="form-control" placeholder="Enter Email Address" required>
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPhone" class="form-label">Phone NO.</label>
    <input type="number" name="phone" class="form-control" placeholder="Enter Phone Number" required>
    
  </div>

  <div class="mb-3">
    <input type="hidden" name="role" class="form-control" placeholder="Enter Role Name" value="user_role" >
    
  </div>
 
  <button type="submit" class="btn btn-primary">Register</button>
  <button type="submit" class="btn btn-primary">Login</button>


  {{#message}}
<div class="alert alert-success" role="alert">
       {{message}}
</div>
  {{/message}}
</form>

</div>


{{> footer}}
   

</body>

</html>


